.result-card__title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	color: #1A1B22;
}

@media (max-width: 1297px) {
	.result-card__title {
			font-size: 22px;
			line-height: 24px;
	}
}

@media (max-width: 768px) {
	.result-card__title {
			font-size: 22px;
			line-height: 24px;
	}
}
