@font-face {
	font-family: 'roboto';
	src: url(./roboto-medium.woff);
	font-weight: medium;
}

@font-face {
	font-family: 'roboto';
	src: url(./roboto-regular.woff);
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url(./robotoslab-regular.woff);
	font-weight: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url(./sourcesanspro-regular.woff);
	font-weight: normal;
}